.page {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: var(--main-line-height);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
}

.decorativeZone {
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorativeZone::before {
  content: "";
  position: absolute;
  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
}

.decorativeZone::after {
  content: "";
  position: absolute;
  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.themeMenu {
  justify-self: end;
}

.themeMenuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.themeMenuButton {
  color: var(--button-color);
  padding: 1.5px 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.themeMenuButton:hover {
  outline: 1px solid var(--button-hover-border);
}

.themeMenuButton:focus {
  outline: none;
}

.themeMenuButton:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.themeMenuButtonActive {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.headlineTitle {
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: 700;
}

.shadowedTitle {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.headerDescription {
  justify-self: end;
  align-self: center;
  width: 100%;
}

.recordMarker {
  position: absolute;
  display: var(--rec-type);
  color: var(--button-color);
  text-transform: uppercase;
  inset-block-start: var(--main-padding);
  inset-inline-end: calc(var(--main-padding) + 28px);
}

.recordMarker::after {
  content: "";
  position: absolute;
  display: var(--rec-type);
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--button-color);
  background-color: var(--button-color);
  inset-inline-end: -18px;
  inset-block-start: 9px;
}

.contentGrid {
  display: grid;
  gap: var(--sections-gap);
  padding: var(--main-content-vertical-padding) var(--main-padding);
}

.sectionGrid {
  display: grid;
  gap: 20px;
}

.sectionTitle {
  color: var(--section-header-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: var(--main-line-height);
}

.sectionCardList {
  display: grid;
  gap: 20px;
}

.cardItem {
  display: grid;
  gap: 10px;
  align-items: start;
}

.headerDescription,
.cardExtraHeader .sectionTitle,
.cardHeader {
  color: var(--article-header-color);
  background-color: var(--accent-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: var(--main-line-height);
}

.tertiarySection .cardItem .cardHeader {
  font-weight: 400;
}

.cardText {
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 400;
}

.cardText .accentLink {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.cardText .accentLink:hover {
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
}

.cardText .accentLink:focus {
  outline: none;
}

.cardText .accentLink:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.cardImageGrid {
  display: grid;
  gap: var(--main-padding);
}

.cardImageItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footerGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
}

.footerTitle {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --main-content-vertical-padding: 60px;
    --sections-gap: 80px;
  }

  .primarySection,
  .tertiarySection {
    grid-template-columns: 1fr 2fr;
  }

  .secondarySection .sectionTitle {
    width: calc(100% / 3 - 20px);
  }

  .gallerySection .cardItem {
    gap: 20px;
  }

  .shadowedTitle {
    justify-self: left;
    margin-inline-start: calc(-1 * var(--main-padding));
  }

  .headlineTitle {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .headerDescription {
    width: calc(100% / 2);
  }

  .cardImageItem:first-child {
    grid-column: span 2;
  }

  .cardImageItem:nth-child(2) {
    grid-row: span 2;
  }

  .cardImageItem:nth-child(3) {
    grid-row: span 2;
  }

  .cardImageItem:nth-child(5) {
    grid-row: 3/3;
    grid-column: 2/4;
  }
}

@media (width >= 1024px) {
  .secondarySection .sectionCardList {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .primarySection,
  .tertiarySection {
    grid-template-columns: calc((100% - 40px) / 3) 1fr;
  }

  .themeMenu {
    justify-self: center;
    align-self: start;
  }

  .themeMenuList {
    flex-direction: row;
  }
}